.LanguageDetectorForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.LanguageDetectorForm > div {
  margin-bottom: 12px;
}

.LanguageDetectorForm label {
  color: #666;
}

.LanguageDetectorForm input[type='text'] {
  outline: none;
  background-color: white;
  padding: 8px 12px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.LanguageDetectorForm input[type='text']:focus {
  border-color: #00cfac;
}
